<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Blockmarks! <%= @user.email %></h1>
    <p>
      You have successfully signed up and
      your username is: <%= @user.email %>.<br>
    </p>
    <p>Thanks for joining and have a great day, we hope to see you soon!</p>
  </body>
</html>
