<h1>Edit Topic</h1>

<div class="row">
  <div class="col-md-4">
    <h2>Guidelines for topics:</h2>
    <ul>
      <li>No inappropriate content allowed.</li>
      <li>Don't use all CAPS.</li>
      <li>Have fun!</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= form_for @topic do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control', placeholder: "Enter topic title" %>
    </div>
    <%= f.submit "Save", class: 'btn btn-success' %>
     <% end %>
   </div>
 </div>
