<h1>About Blocmarks</h1>
<div class="jumbotron">
  <p>Blocmarks is an application that allows a user to bookmark URLs via email, peruse other user's bookmarks and maintain a personal index of categorized bookmarks.</p>
  <small>Created By: Stephen Wentling</small>
</div>
