.jumbotron
  %h1 Welcome to Blocmarks!
  %p
    Please check the e-mail which you used to sign up within the next 7 days for
    a confirmation link. Otherwise, your account may become locked. Happy bookmarking!
